name: RSpec

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  schedule:
    - cron: "0 21 * * 6"

env:
  POSTGRES_HOST_AUTH_METHOD: "trust"
  POSTGRES_USER: "runner"
  POSTGRES_DB: "evemonk_test"
  PGHOST: "localhost"
  SECRET_KEY_BASE: "919650e468e29e897a53ef239b6e0228f8b71ec6ed353b691d140945e98d0c6a63731811afc27b61b9094523740962499afabc6d7ad0c872f1d5b62472083a08"
  CI: "yes"
  BOOTSNAP_LOG: "true"

permissions:
  contents: read

jobs:
  rspec:
    runs-on: ubuntu-24.04

    services:
      postgres:
        image: "postgres:17.2"
        env:
          POSTGRES_HOST_AUTH_METHOD: "trust"
          POSTGRES_USER: "runner"
          POSTGRES_DB: "evemonk_test"
        ports:
          - "5432:5432"
        # needed because the postgres container does not provide a healthcheck
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@df199fb7be9f65074067a9eb93f12bb4c5547cf2 # v2.13.3
        with:
          egress-policy: audit

      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Set up Ruby
        uses: ruby/setup-ruby@d697be2f83c6234b20877c3b5eac7a7f342f0d0c # v1.269.0
        with:
          rubygems: latest
          bundler: latest
          bundler-cache: true
      - run: bundle exec bootsnap precompile --gemfile app/ lib/ config/ Rakefile
      - run: bin/rails zeitwerk:check
      - run: bin/rails db:create
      - run: bin/rails db:migrate
      - run: bin/rspec --force-color --profile --format documentation
