name: RSpec

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch: {}
  schedule:
    - cron: "0 21 * * 6"

env:
  POSTGRES_HOST_AUTH_METHOD: "trust"
  POSTGRES_USER: "runner"
  POSTGRES_DB: "evemonk_test"
  PGHOST: "localhost"
  SECRET_KEY_BASE: "919650e468e29e897a53ef239b6e0228f8b71ec6ed353b691d140945e98d0c6a63731811afc27b61b9094523740962499afabc6d7ad0c872f1d5b62472083a08"
  CI: "yes"
  BOOTSNAP_LOG: "true"

permissions:
  contents: read

jobs:
  rspec:
    runs-on: ubuntu-24.04

    services:
      postgres:
        image: "postgres:18"
        env:
          POSTGRES_HOST_AUTH_METHOD: "trust"
          POSTGRES_USER: "runner"
          POSTGRES_DB: "evemonk_test"
        ports:
          - "5432:5432"
        # needed because the postgres container does not provide a healthcheck
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: audit

      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Set up Ruby
        uses: ruby/setup-ruby@90be1154f987f4dc0fe0dd0feedac9e473aa4ba8 # v1.286.0
        with:
          rubygems: latest
          bundler: latest
          bundler-cache: true
      - run: bundle exec bootsnap precompile --gemfile app/ lib/ config/ Rakefile
      - run: bin/rails zeitwerk:check
      - run: bin/rails db:create
      - run: bin/rails db:migrate
      - run: bin/rspec --force-color --profile --format documentation
